services:
  db:
    image: mysql:8.0
    container_name: mysql-db
    environment:
      MYSQL_DATABASE: company
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_ROOT_PASSWORD: rootpassword
    volumes:
      - db_data:/var/lib/mysql

  php:
    build: ./php
    container_name: php-fpm
    volumes:
      - ./src:/var/www/html
    depends_on:
      - db

  apache:
    image: httpd:2.4
    container_name: apache-web
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/html
      - ./apache/my-vhost.conf:/usr/local/apache2/conf/extra/my-vhost.conf:ro
      - ./apache/httpd.conf:/usr/local/apache2/conf/httpd.conf:ro
    depends_on:
      - php

volumes:
  db_data:
